* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #798592, #3f4246);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 800px;
  transition: all 0.3s ease;
}

.App-header {
  background-color: #6897c9;
  color: white;
  padding: 20px;
  border-radius: 12px 12px 0 0;
}

.logo {
  width: 100px; /* Adjust the size of your logo */
  margin-bottom: 10px;
}

.form-container {
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  resize: none;
  min-height: 100px;
}

.file-input {
  margin: 10px 0;
}

.submit-button {
  background-color: #16692a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #29863d;
}

.loading {
  font-size: 18px;
  color: #555;
}

.result-container {
  background: #e7f3fe;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  text-align: left;
}

.result-container h2 {
  color: #333;
}

.result-container ul {
  list-style-type: disc;
  padding-left: 20px;
}